# Fichier .env.example
KAFKA_BOOTSTRAP=redpanda:9092
AWS_ACCESS_KEY_ID=votre_access_key_ici
AWS_SECRET_ACCESS_KEY=votre_secret_key_ici
S3_BUCKET_NAME=nom_de_votre_bucket
AWS_REGION=votre_region_aws
NB_TICKETS=100